server/venv/
server/main - Copy.py
server/main - Copy (2).py
server/main - Copy (3).py
server/test.ipynb
server/test.png
server/test_2.ipynb
server/synthetic/
.env
.venv/


node_modules/
.vscode/
src/pages/Record - Copy.jsx
src/components/RecordingButton - Copy.jsx