.upload-body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.column {
    width: 30%;
    height: 100%;
}

.column-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.restrictions {
    text-align: left;
}

.restrictions h1 {
    font-size: 24px;
}

.restrictions p {
    color: var(--grey);
    margin-top: 20px;
}

.icon {
    margin-right: 5px;
    color: var(--grey);
}

.column-midle {
    width: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.column-midle h1 {
    font-size: 24px;
    padding-bottom: 20px;
}

/* Refined Responsive Styles */
@media screen and (max-width: 600px) {

    .upload-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 140px); /* Adjust for top and bottom fixed elements */
        padding: 70px 20px; /* Padding for navigation and restrictions */
    }

    .column,
    .column-midle {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .column-midle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        padding: 20px;
    }

    .navigation {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        background-color: white;
        padding: 10px 0;
    }

    .restrictions {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1000;
        background-color: white;
        padding: 10px 0;
        text-align: center;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    }

    .inter-light{
        visibility: visible;
    }

    #verify{
        font-size: 36px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #f0f0f0;
        padding: 10px;
        z-index: 999; /* Ensures it stays on top of other elements */
    }
}


